<div *ngIf="listOfTodos.length <= 0">
  <span>
    <p>Nothing to do!</p>
  </span>
</div>

<ul *ngIf="listOfTodos.length > 0">
  <li *ngFor="let todoItem of listOfTodos">
    <app-print-list [todo]="todoItem" (done)="itemDone($event)" (removeItem)="removeItem($event)"></app-print-list>
  </li>
</ul>

<section>
  <div class="buttons">
    <app-add-todo (newTodo)="addItem($event)"></app-add-todo>
</div>
<div class="buttons">
  <app-sort-list (sortList)="sort()"></app-sort-list>
</div>
</section>

<ul>
  <li *ngFor="let doneItem of finishedTodos">
    <app-done-todo [finished]="doneItem" (undo)="itemDone($event)" (removeOldItem)="removeOldItem($event)"></app-done-todo>
  </li>
</ul>

