span {
  display:flex;
  flex-direction:row;
  align-items:center;
  .redoItem {
    background-color:#EFFDE6;
    border:none;
    color:darkorange;
    font-size: 14pt;
    font-weight: bold;
    cursor:pointer;
  }
  p {
    text-decoration:line-through;
  }
  .deleteItem {
    background-color:#EFFDE6;
    border:none;
    color:darkorange;
    font-size: 14pt;
  }

}
