span {
  display:flex;
  flex-direction:row;
  align-items:center;
  p {
    text-decoration:line-through;
  }
  .deleteItem {
    background-color:#EFFDE6;
    border:none;
    color:darkorange;
    font-size: 14pt;
  }
}
