
<button (click)="showForm = !showForm">Add</button>

<!-- om man har tryckt på knappen, visa formuläret -->
<div class="formContainer" *ngIf="showForm" novalidate>

  <input type="text" placeholder="What" #inputWhat />
  <input type="date" placeholder="When" #inputWhen />
  <input type="text" placeholder="Who" #inputWho />

  <!--  när man trycker på knappen så vill vi skicka ett item till
  data-list -->
  <button (click)="handleForm(inputWhat.value, inputWhen.value, inputWho.value)">Add to list</button>

  </div>

