/* You can add global styles to this file, and also import other style files */
body {
  background-color: #EFFDE6;
  font-family:roboto;
  font-size:24pt;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
